ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:8080
ConnectionStrings__DefaultConnection=server=localhost;port=3306;database=terratech;user=terratech;password=SET_LOCALLY
TokenSettings__Secret=
